<style>body {background-image: none; background-color: cadetblue;}</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<div class="linkbutton">
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>